<!DOCTYPE root[<!ELEMENT Login ANY>
<!ATTLIST Login id ID #REQUIRED>
 
<!ELEMENT ArticleItem ANY>
<!ATTLIST ArticleItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT SiteMap ANY>
<!ATTLIST SiteMap id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1063" key="eaab9e2d-c907-491e-ad73-305dea482aaa" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-11T02:55:39" updateDate="2016-02-11T02:55:39" nodeName="Home Page" urlName="home-page" path="-1,1063" isDoc="" nodeType="1049" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1048" nodeTypeAlias="HomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo>1062</logo>
    <siteTitle><![CDATA[Aarhus Web Developer Corporation]]></siteTitle>
    <mainContent><![CDATA[<p><strong>Test</strong></p>]]></mainContent>
    <footer><![CDATA[&copy; Aarhus Web Development Corporation]]></footer>
    <ArticlesMain id="1064" key="6e0ce2d2-4ce6-4219-88fe-62de512cceda" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-02-11T03:05:49" updateDate="2016-02-11T03:06:20" nodeName="Articles" urlName="articles" path="-1,1063,1064" isDoc="" nodeType="1053" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1052" nodeTypeAlias="ArticlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Test Articles</p>]]></articlesBodyText>
      <ArticleItem id="1067" key="ca464951-a3a8-43f0-a846-e2bfebcf2129" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2016-02-11T03:10:18" updateDate="2016-02-11T03:10:18" nodeName="Our first article" urlName="our-first-article" path="-1,1063,1064,1067" isDoc="" nodeType="1055" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1054" nodeTypeAlias="ArticleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[So it begins]]></articleTitle>
        <articleContent><![CDATA[<p>Hello everyone,</p>
<p> </p>
<p>As a start, we want to thank you all for visiting our new site. It has been under way for a long time, but it is finally done!</p>]]></articleContent>
      </ArticleItem>
      <ArticleItem id="1068" key="855f211b-9949-4df0-83ed-098b4f8c195c" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2016-02-11T03:10:53" updateDate="2016-02-11T03:10:53" nodeName="New client" urlName="new-client" path="-1,1063,1064,1068" isDoc="" nodeType="1055" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1054" nodeTypeAlias="ArticleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Say hello to Umbraco]]></articleTitle>
        <articleContent><![CDATA[<p>Umbraco have just hired us to do something amazing...</p>
<p> </p>
<p>More on that later</p>]]></articleContent>
      </ArticleItem>
      <ArticleItem id="1069" key="fdcf635c-3bd8-44ab-a594-17e3739e1b03" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2016-02-11T03:11:37" updateDate="2016-02-11T03:11:37" nodeName="Big news!" urlName="big-news" path="-1,1063,1064,1069" isDoc="" nodeType="1055" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1054" nodeTypeAlias="ArticleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Big news!]]></articleTitle>
        <articleContent><![CDATA[<p>So mentioned in our previous article, Umbraco hired us to work on something amazing.</p>
<p> </p>
<p>We will be working on.............</p>]]></articleContent>
      </ArticleItem>
    </ArticlesMain>
    <ProjectsMain id="1065" key="99a77434-9ee1-491f-8d9d-0181975c5a5d" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-02-11T03:06:10" updateDate="2016-02-11T03:06:10" nodeName="Projects" urlName="projects" path="-1,1063,1065" isDoc="" nodeType="1057" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1056" nodeTypeAlias="ProjectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Test Projects</p>]]></projectsBodyText>
      <ProjectItem id="1071" key="fd64a663-31d4-4752-87ce-cf2a01d37c7e" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2016-02-22T17:51:45" updateDate="2016-02-22T17:51:45" nodeName="First project" urlName="first-project" path="-1,1063,1065,1071" isDoc="" nodeType="1059" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1058" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[This is our first project]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This is our first project</p>]]></projectDescription>
      </ProjectItem>
      <ProjectItem id="1072" key="50aba49c-b135-44b2-b922-75d4071d832b" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2016-02-22T17:52:06" updateDate="2016-02-22T17:52:06" nodeName="Second Project" urlName="second-project" path="-1,1063,1065,1072" isDoc="" nodeType="1059" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1058" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[This is our second project]]></projectTitle>
        <projectStatus>8</projectStatus>
        <projectDescription><![CDATA[<p>This is our second project</p>]]></projectDescription>
      </ProjectItem>
      <ProjectItem id="1073" key="0a6873ef-d0fc-4c8a-9295-5219d76de54b" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2016-02-22T17:52:24" updateDate="2016-02-22T17:52:31" nodeName="Third Project" urlName="third-project" path="-1,1063,1065,1073" isDoc="" nodeType="1059" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1058" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[This is our third project]]></projectTitle>
        <projectStatus>6</projectStatus>
        <projectDescription><![CDATA[<p>This is our third project</p>]]></projectDescription>
      </ProjectItem>
      <ProjectItem id="1074" key="6a7118c1-93e7-4e11-b0d9-287d2da9cb7d" parentID="1065" level="3" creatorID="0" sortOrder="3" createDate="2016-02-22T18:19:31" updateDate="2016-02-22T18:19:31" nodeName="Fourth Project" urlName="fourth-project" path="-1,1063,1065,1074" isDoc="" nodeType="1059" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1058" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Fourth Project]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>Fourth Project</p>]]></projectDescription>
      </ProjectItem>
      <ProjectItem id="1075" key="7f31657e-3e01-458e-bbbd-d3542651c86f" parentID="1065" level="3" creatorID="0" sortOrder="4" createDate="2016-02-22T18:19:52" updateDate="2016-02-23T10:23:48" nodeName="Fifth Project" urlName="fifth-project" path="-1,1063,1065,1075" isDoc="" nodeType="1059" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1058" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Fifth Project]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>Fifth Project</p>]]></projectDescription>
      </ProjectItem>
      <ProjectItem id="1076" key="a63afda6-6bdc-4b53-80e3-d7de9d70d326" parentID="1065" level="3" creatorID="0" sortOrder="5" createDate="2016-02-22T18:20:19" updateDate="2016-02-22T18:20:19" nodeName="Sixth Project" urlName="sixth-project" path="-1,1063,1065,1076" isDoc="" nodeType="1059" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1058" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Sixth Project]]></projectTitle>
        <projectStatus>10</projectStatus>
        <projectDescription><![CDATA[<p>Sixth Project</p>]]></projectDescription>
      </ProjectItem>
    </ProjectsMain>
    <TextPage id="1066" key="f0620fae-6373-4052-9b13-ef42ed19533e" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2016-02-11T03:07:39" updateDate="2016-02-18T16:47:50" nodeName="About" urlName="about" path="-1,1063,1066" isDoc="" nodeType="1051" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1050" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <header><![CDATA[About us]]></header>
      <aboutContainer><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline + Image 2x12",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  }
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1062,
                    "image": "/media/1001/umbraco_logo.jpg",
                    "altText": "Logo"
                  },
                  "editor": {
                    "alias": "media"
                  }
                }
              ]
            }
          ],
          "id": "b105d47c-fd2d-28fd-35f4-495135a5cb16"
        },
        {
          "name": "Three column article",
          "areas": [
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p><strong>Vision:</strong></p>\n<p>Web Development Corporation Aarhus strives to bring our customers the best service availible. We want to bring a new era to the web, combining new technologies with talented employees.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p><strong>People &amp; skills:</strong></p>\n<p>Some text about people!</p>\n<p><span>Very talented people yadi yadi dah</span></p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "controls": [
                {
                  "value": "<p><strong>Contact us!</strong></p>\n<p>Mail:<strong> </strong>mail@awdc.dk</p>\n<p>Phone:<strong> </strong>+45 82828282</p>\n<p> </p>\n<p>Thanks</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "e69def85-3fca-237a-fd94-602823bc260a"
        }
      ]
    }
  ]
}]]></aboutContainer>
    </TextPage>
    <SiteMap id="1083" key="a80d373d-e2d7-4b25-b763-78cf37001924" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2016-02-22T18:56:06" updateDate="2016-02-22T18:56:06" nodeName="Site Map" urlName="site-map" path="-1,1063,1083" isDoc="" nodeType="1082" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1081" nodeTypeAlias="SiteMap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </SiteMap>
    <Contactpage id="1086" key="b97e5d6f-50b3-4a32-b0f7-3d6d87f7f67e" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2016-02-23T11:07:08" updateDate="2016-02-23T11:07:08" nodeName="Contact Us" urlName="contact-us" path="-1,1063,1086" isDoc="" nodeType="1085" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1084" nodeTypeAlias="Contactpage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </Contactpage>
    <Login id="1101" key="4c7ec87f-f900-4c17-b49a-3cb3fc3dce60" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2016-04-03T03:42:22" updateDate="2016-04-03T03:42:22" nodeName="Login" urlName="login" path="-1,1063,1101" isDoc="" nodeType="1100" creatorName="Jesper Purup" writerName="Jesper Purup" writerID="0" template="1099" nodeTypeAlias="Login" />
    <TextPage id="1102" key="ccec5142-4d0b-4fb8-963d-83b4066ebe88" parentID="1063" level="2" creatorID="1" sortOrder="6" createDate="2016-04-03T04:11:35" updateDate="2016-04-03T04:53:07" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1063,1102" isDoc="" nodeType="1051" creatorName="Jane Wilfred" writerName="Jesper Purup" writerID="0" template="1050" nodeTypeAlias="TextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[Restricted]]></header>
      <aboutContainer><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "<p>You do not have access</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "1b1db72d-e117-6bb9-9221-c4f8e1ef6417"
        }
      ]
    }
  ]
}]]></aboutContainer>
      <mainContent><![CDATA[<p>You do not have access</p>]]></mainContent>
    </TextPage>
  </HomePage>
</root>